h1{
    color: blue ;
    background-color: azure;
   height: 30px;
   width:200px ;
   border-width:1px;
    border-style: dotted;
    border-color: aqua;
}
p{
  height :40px; 
  background-color:peachpuff ;
   
}
div{
   color: rgb(15, 95, 243) ; 
  height:34px ;
   width: 100px;
   border-width:1px;
   border-style:  solid;
   border-color: blue;
}
 button{
   color: rgb(100, 56, 221);
   height:40px ;
   width: 100px;  
}