.loader{
    width: 200px;
    height: 200px;
     border-radius: 50%;
    border: 20px solid #faf615da;
    border-top: 20px solid #ee16b8;
    animation: spinAnimate 1s ease-in 0s infinite normal ;
     
}
@keyframes spinAnimate{
    form{
     transform: rotate(0deg) ;
    }
    to{
       transform :rotate(360deg);
    }
}